<main>
  <app-learning-resources  
  />

  <hr />

  <app-auth appLog />
 <!---- @if(isAdmin()){
  <p>Only admin should see</p>
}-->
<!--<p *ngIf="isAdmin()">Only admin should see</p>-->
<!--<ng-template appAuth="admin">
  <p 
  >Only admin should see this!</p>
</ng-template>-->
<p *appAuth="'admin'" appLog class="protected-content admin">Only admin should see this!</p>
<p *appAuth="'user'" class="protected-content user">Only regular users should see this!</p>
<p *appAuth="'guest'" class="protected-content authenticated">Only guest should see this!</p>


</main>
